<a href="/doors/artist">Acceso para artista</a>
<a href="/doors/backliner">Acceso para backliner</a>
<a href="/doors/fan">Acceso para fan</a>

{{#if artist}}
<p>Hola, artista</p>
{{/if}}
{{#if backliner}}
<p>Hola, backliner</p>
{{/if}}
{{#if fan}}
<p>Hola, fan</p>
{{/if}}
{{#if msg}}
<p>{{msg}}</p>
{{/if}}